@charset "UTF-8"
@import "includes/_variables"
@import "includes/_mixins"


@media screen and (max-width: 1024px)

    header

        div
            responsive-layout()


    section
        responsive-layout()
        padding: 50px 5%

    #about, #resume
        padding: 50px 0
        width: 100%

        div
            responsive-layout()
            padding: 50px 5%

    figure
        min-height: 435px
        margin: 0 0 30px 5%
        width: 45%

        img
            height: auto
            width: 100%

    figcaption
        min-height: 0


@media screen and (max-width: 768px)

    figure
        min-height: 0
        margin: 0 auto 30px auto
        max-width: 485px
        width: 100%


    figcaption
        min-height: 0