doctype html
html(lang="en")

    head
        //- use utf-8
        meta(charset="UTF-8")

        //- chrome frame
        meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")

        //- set viewport width for mobile
        meta(name="viewport" content="width=device-width")

        title Scott Lanning - Front End / UI / UX Engineer

    body

        h1 Testing


        script(type="text/javascript", src="js/bundle.js?v=#{version}")