doctype html
html(lang="en")

    head

        //- include header
        include ./includes/head.jade

        title scott lanning

    body

        //- include header
        include ./includes/header.jade

        #cover

        section#portfolio

            h1
                a(name="portfolio") portfolio
                
            figure.no_margin
                a(href="https://itunes.apple.com/us/app/bestest-app/id1348937378", rel="external")
                    img(src="/img/bestest_logo.png", width="485", height="273", alt="bestest logo", title="bestest logo")
                figcaption
                    h1
                        a(href="https://itunes.apple.com/us/app/bestest-app/id1348937378", rel="external") Bestest
                    p Social media polling app for iOS and Android built using React Native, MobX, and Expo.
                    p.technologies Technologies: React Native, MobX, Expo

            figure
                a(href="https://github.com/skyout/tips.js", rel="external")
                    img(src="/img/tips_logo.png", width="485", height="273", alt="tip.js logo", title="tips.js logo")
                figcaption
                    h1
                        a(href="https://github.com/skyout/tips.js", rel="external") tips.js
                    p Open-source simple jQuery tooltip plugin. Available on npm, Bower, or GitHub. A demo is available
                        a.demo(href="/tips.js/")  here.
                    p.technologies Technologies: jQuery, CoffeeScript, Browserify

            figure.no_margin
                a(href="https://github.com/skyout/angular-image-dimensions", rel="external")
                    img(src="/img/angular_image_dimensions_logo.png", width="485", height="273", alt="angular-image-dimensions logo", title="angular-image-dimensions logo")
                figcaption
                    h1
                        a(href="https://github.com/skyout/angular-image-dimensions", rel="external") angular-image-dimensions
                    p Open-source AngularJS directive for getting and displaying image dimensions in the view. Available on npm, Bower, or GitHub. A demo is available
                        a.demo(href="/angular-image-dimensions/")  here.
                    p.technologies Technologies: AngularJS 1.x, CoffeeScript, Browserify


            figure
                a(href="http://grasshopper.com/signup", rel="external")
                    img(src="/img/grasshopper_signup.png", width="485", height="273", alt="grasshopper signup", title="grasshopper signup")
                figcaption
                    h1
                        a(href="http://grasshopper.com/signup", rel="external") grasshopper signup
                    p An React/MobX and HapiJS signup application for Grasshopper, with thousands of users per week.
                    p.technologies Technologies: React, MobX, HapiJS, webpack, Babel, PostCSS, Jest, Enzyme

            figure.no_margin
                a(href="https://app.ascendr.com", rel="external")
                    img(src="/img/ascendr_app.png", width="485", height="273", alt="ascendr application", title="ascendr application")
                figcaption
                    h1
                        a(href="https://app.ascendr.com", rel="external") ascendr application
                    p A React/Redux and HapiJS application for managing drone fleet operations. 
                    p.technologies Technologies: React, Redux, HapiJS, Babel, Gulp
            
            figure
                a(href="https://ascendr.com", rel="external")
                    img(src="/img/ascendr.png", width="485", height="273", alt="ascendr", title="ascendr")
                figcaption
                    h1
                        a(href="https://ascendr.com", rel="external") ascendr
                    p The marketing site for Ascendr, a drone operations platform.
                    p.technologies Technologies: HTML, CSS3, jQuery, Github Pages, Jekyll

            figure.no_margin
                a(href="http://grasshopper.com/blog/", rel="external")
                    img(src="/img/blogging_tool.png", width="485", height="273", alt="grasshopper blogging tool", title="grasshopper blogging tool")
                figcaption
                    h1
                        a(href="http://grasshopper.com/blog/", rel="external") grasshopper blogging tool
                    p A writing interface, API, scheduler API, and public facing blog powered by AngularJS, Express, and Jekyll.
                    p.technologies Technologies: AngularJS 1.x, Express, Browserify, Gulp, Jekyll (Ruby)

            figure
                a(href="https://github.com/skyout/stylus-styleguide", rel="external")
                    img(src="/img/stylus_styleguide_logo.png", alt="stylus-styleguide logo", title="stylus-styleguide logo")
                figcaption
                    h1
                        a(href="https://github.com/skyout/stylus-styleguide", rel="external") stylus-styleguide
                    p A guide to developing robust stylesheets in Stylus.
                    p.technologies Technologies: Stylus

            figure.no_margin
                a(href="https://github.com/skyout/sass-styleguide", rel="external")
                    img(src="/img/sass_styleguide_logo.png", alt="sass-styleguide logo", title="sass-styleguide logo")
                figcaption
                    h1
                        a(href="https://github.com/skyout/sass-styleguide", rel="external") sass-styleguide
                    p A guide to developing robust stylesheets in SASS.
                    p.technologies Technologies: SASS


            figure
                a(href="http://grasshopper.com", rel="external")
                    img(src="/img/grasshopper.png", width="485", height="273", alt="grasshopper.com", title="grasshopper.com")
                figcaption
                    h1
                        a(href="http://grasshopper.com", rel="external") grasshopper.com
                    p Marketing site for Grasshopper, a virtual phone system, with over 40,000 customers.
                    p.technologies Technologies: HTML5, CSS3, SASS, jQuery, CoffeeScript, Middleman (Ruby)

            figure.no_margin
                a(href="https://github.com/skyout/scott-lanning.com", rel="external")
                    img(src="/img/scott-lanning.png", width="485", height="273", alt="scott-lanning.com logo", title="scott-lanning.com logo")
                figcaption
                    h1
                        a(href="https://github.com/skyout/scott-lanning.com", rel="external") scott-lanning.com
                    p Personal portfolio site with a HapiJS development server all powered by Gulp and Browserify. All code is open source and available on GitHub.
                    p.technologies Technologies: HTML5, CSS3, HapiJS, jQuery, CoffeeScript, Browserify, Gulp

        section#about

            div

                h1
                    a(name="about") about

                p My name is Scott Lanning and I&rsquo;m a UI Engineer from the greater Boston area. I have many years of experience in a variety of user experience and user interface work. I have a over six years of experience with both website, web application, and now mobile app development.
                p I really have a passion for building web applications with React, Redux or MobX. Now that NodeJS has taken off, leveraging different JavaScript libraries allows me to build front-end and backend applications as well as robust APIs.
                p Currently I&rsquo;m a Contract UI Engineer working on a variety of projects, including a social app for iOS and Android using React Native, MobX, and Expo.
                p My personal interests include soccer, golf, brewing beer, and spending time with my wife Stephanie and two children Olivia and Everett.

        section#contact

            h1
                a(name="contact") contact

            p Don&rsquo;t hesitate to drop me a line if you wanna chat or if you have an idea for a project you&rsquo;d like to work on together.

            ol

                li
                    a(href="mailto:scott@scott-lanning.com" lt="Email", title="Email", rel="me")
                        span.icon m
                        |  scott [at] scott-lanning [dot] com

                li
                    a(href="https://twitter.com/skyout", alt="Twitter", title="Twitter", rel="me")
                        span.icon t
                        |  @skyout

                li
                    a(href="https://facebook.com/skyout", alt="Facebook", title="Facebook", rel="me")
                        span.icon f
                        |  skyout

                li.github
                    a(href="https://github.com/~skyout", alt="GitHub", title="GitHub", rel="me")
                        span.icon g                        
                        | skyout

                li.linkedin
                    a(href="https://www.linkedin.com/in/skyout", alt="LinkedIn", title="LinkedIn", rel="me")
                        span.icon i
                        |  skyout

        section#resume

            div

                h1
                    a(name="resume") resume

                p I try to keep my resume as up-to-date as possible. If you have any questions about my experience or future employment opportunities, please feel free to
                    a(href="#contact")  contact
                    |  me.

                ol

                    li
                        a(href="/files/scott_lanning_resume_2017.pdf", target="_blank")
                            span.icon p
                            |  pdf

                    li
                        a(href="/files/scott_lanning_resume_2017.docx", target="_blank")
                            span.icon w
                            |  word
                            
                span.closing_bracket


        include ./includes/scripts.jade
