doctype html
html(lang="en")

    head
        //- utf-8
        meta(charset="UTF-8")

        //- chrome frame
        meta(content="IE=edge,chrome=1", http-equiv="X-UA-Compatible")

        //- meta description
        meta(name="description", content="Scott Lanning")

        //- meta keywords
        meta(name="keywords", content=" Scott Lanning, Front End, User Experience, User Interface, Web Developer")

        //- set viewport scale for mobile
        meta(name="viewport", content="initial-scale=1, maximum-scale=1")

        //- global css
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:100' rel='stylesheet' type='text/css'>
        link(rel="stylesheet", type="text/css", href="/css/styles.css?v=#{version}")

        //- favicon
        link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")

        title scott lanning (front end / ui / ux)

    body

        header

            div

                h1
                    a(href="/")
                        | scott lanning
                        em ( front end / ui / ux )

                nav

                    ul
                        li
                            a(href="#portfolio") portfolio

                        li
                            a(href="#about") about

                        li
                            a(href="#contact") contact

                        li
                            a(href="#resume") resume

        #cover

        section

            h1
                a(name="portfolio") portfolio

            p Aliquam in libero quis arcu consectetur ornare. Aenean fermentum, leo eu dapibus eleifend, dui elit euismod magna, eget euismod quam ex et orci. Ut eleifend vel nisi at auctor. Curabitur ac suscipit augue, nec ultricies magna.

            figure.first
                img(src="/img/code.png")
                figcaption
                    h1 Grasshopper Signup
                    p Aliquam in libero quis arcu consectetur ornare. Aenean fermentum, leo eu dapibus eleifend, dui elit euismod magna.
                    p.technologies
                        strong Technologies:
                        |  Angular, Node, HapiJS, Stylus, Jade

            figure
                img(src="/img/code.png")
                figcaption
                    h1 Blogging Tool
                    p Aliquam in libero quis arcu consectetur ornare. Aenean fermentum, leo eu dapibus eleifend, dui elit euismod magna
                    p.technologies
                        strong Technologies:
                        |  Angular, Node, HapiJS, Stylus, Jade

            figure
                img(src="/img/code.png")
                figcaption
                    h1 Grasshopper.com
                    p Aliquam in libero quis arcu consectetur ornare. Aenean fermentum, leo eu dapibus eleifend, dui elit euismod magna
                    p.technologies
                        strong Technologies:
                        |  HTML5, CSS3, Ruby

            figure.first
                img(src="/img/code.png")
                figcaption
                    h1 Grasshopper Signup
                    p Aliquam in libero quis arcu consectetur ornare. Aenean fermentum, leo eu dapibus eleifend, dui elit euismod magna.
                    p.technologies
                        strong Technologies:
                        |  Angular, Node, HapiJS, Stylus, Jade

            figure
                img(src="/img/code.png")
                figcaption
                    h1 Blogging Tool
                    p Aliquam in libero quis arcu consectetur ornare. Aenean fermentum, leo eu dapibus eleifend, dui elit euismod magna
                    p.technologies
                        strong Technologies:
                        |  Angular, Node, HapiJS, Stylus, Jade

            figure
                img(src="/img/code.png")
                figcaption
                    h1 Grasshopper.com
                    p Aliquam in libero quis arcu consectetur ornare. Aenean fermentum, leo eu dapibus eleifend, dui elit euismod magna
                    p.technologies
                        strong Technologies:
                        |  HTML5, CSS3, Ruby

            p Nunc gravida eget libero nec tincidunt. Praesent et sollicitudin augue, a consequat diam. Nunc ornare sodales sollicitudin. Vivamus purus ante, consequat ut rutrum a, suscipit nec neque. Quisque nec leo posuere, pharetra eros nec, pretium neque.

        section.about

            div

                h1
                    a(name="about") about

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at ultrices nunc, vel dapibus enim. Quisque eget lobortis orci, nec ullamcorper dui. Vestibulum consectetur feugiat felis, id tempus risus sodales sed.

                p Sed suscipit at tortor ut pretium. Vivamus ac fringilla nulla, nec viverra mi. Donec scelerisque ligula eget diam mattis, sit amet tincidunt sapien iaculis. Suspendisse vitae nisl quis massa hendrerit fringilla. Morbi gravida maximus mauris, vitae tincidunt ligula venenatis eget.

        section

            h1
                a(name="contact") contact

        section.resume

            div

                h1
                    a(name="resume") resume

        //- global javascript
        script(type="text/javascript", src="/js/bundle.js?v=#{version}")