@charset "UTF-8"
@import "includes/_variables"
@import "includes/_mixins"

body
    -webkit-font-smoothing: antialiased // font smoothing webkit mac
    -moz-osx-font-smoothing: grayscale // font smoothing firefox osx
    color: primary_font_color
    font: normal normal normal font-size/line-height font-family
    letter-spacing: -0.01em

h1
    font-weight: 300
    font-size: font-size + 20
    letter-spacing: -0.01em
    margin-bottom: 50px

p
    margin-bottom: 20px
    max-width: 640px

a
    color: primary_font_color

    &:hover
        color: lighten(primary_font_color, 20%)

em
    color: tertiary_font_color
    font-style: normal

strong
    font-weight: bold

.icon
    font-family: icons
    font-weight: normal

.menu
    display: none

header
    box-shadow(0px 1px 1px 0 rgba(0,0,0,0.08))
    clearFix()
    background: #fff
    padding: 5px 0
    position: absolute
    top: 10px
    left: 0
    width: 100%

    div
        center(1000px)
        clearFix()

    h1
        float: left
        margin: 0

        a
            color: #000
            display: block
            font-size: font-size + 25
            letter-spacing: -0.025em
            padding: 4px 0

            &:after
                content: "= ( ) {"
                font-size: font-size + 30
                color: #ededed
                line-height: 1
                margin-left: 15px
                vertical-align: -2px

        em
            font-size: font-size + 10
            font-style: normal
            padding-left: 10px
            vertical-align: middle

    nav
        float: right

    li
        float: left
        margin-left: 20px

        &:first-child
            margin-left: 0

        a
            display: block
            font-size: font-size + 2
            font-weight: 300
            padding: 21px 10px

#cover
    height: 400px
    width: 100%
    background: #272822 url("/img/cover.png") no-repeat scroll left top // credit to https://unsplash.com/photos/5Ntkpxqt54Y
    background-size: cover

section
    center(1000px)
    clearFix()
    padding: 50px 0

#portfolio

    .demo
        color: secondary_font_color

        &:hover
            color: lighten(secondary_font_color, 20%)

    .last
        clear: both
        margin: 0
        padding-top: 20px


figure
    float: left
    margin: 0 0 30px 30px
    width: 485px

    &.no_margin
        margin-left: 0

    img
        display: block
        margin: 0 auto
        height: 273px
        width: 100%

figcaption
    min-height: 211px

    h1
        font-weight: 300
        font-size: font-size + 6
        margin: 15px 0 20px

    p

        &.technologies
            margin: 0
            font-style: italic

#about, #resume
    background: primary_accent_color
    width: 100%

    div
        center(1000px)

    h1, p, a
        color: secondary_font_color

    a
        &:hover
            color: lighten(secondary_font_color, 20%)


#contact, #resume

    li
        margin-bottom: 15px

    .icon
        width: 18px
        margin-right: 10px
        vertical-align: -2px
        display: inline-block

    .github
        margin-bottom: 10px

        .icon
            width: 22px

    .linkedin

        .icon
            vertical-align: 0

    .sub // fixes odd tilde in proxima nova
        vertical-align: -5px

    .closing_bracket
        &:after
            content: '}'
            font-size: font-size + 30
            color: #ededed
            line-height: 1
