@charset "UTF-8"
@import "includes/_variables"
@import "includes/_mixins"

@media screen and (min-height: 1440px)

    #cover
        height: 600px


@media screen and (max-width: 1024px)

    header

        div
            clearFix()
            responsive-layout()

        nav
            clear: both
            display: none
            float: none
            padding: 20px 0
            position: relative
            width: 100%
            z-index: 2

            li
                float: none
                margin: 0 0 7px 0

                a
                    padding: 10px 0
                    font-size: font-size

            &.open
                display: block

    .menu
        float: right
        display: block
        color: primary_font_color
        font-size: font-size + 15
        padding: 11px 0 12px

        &:after
            content: 'd'

        &.open

            &:after
                content: 'u'

    section
        responsive-layout()
        padding: 50px 5%

    #about, #resume
        padding: 50px 0
        width: 100%

        div
            responsive-layout()
            padding: 50px 5%

    figure
        min-height: 440px
        margin: 0 0 30px 5%
        width: 47.5%

        img
            height: auto
            width: 100%

    figcaption
        min-height: 0


@media screen and (max-width: 768px)

    header

        h1

            a
                font-size: font-size + 20

                &:after
                    font-size: font-size + 15

            em
                display: none

    .menu
        padding: 8px 0 9px

    #cover
        height: 300px

    #portfolio

        .last
            padding-top: 0

    #resume

        .closing_bracket

            &:after
                font-size: font-size + 15

    figure
        float: none
        margin: 0 auto 50px auto
        min-height: 0
        max-width: 485px
        width: 100%

        &.no_margin
            margin: 0 auto 50px auto

    figcaption
        min-height: 0

    p
        max-width: 100%


@media screen and (max-width: 480px)

    body
        font-size: font-size - 2

    h1
        font-size: font-size + 15

    #cover
        height: 200px

    section
        padding: 30px 5%

    #about, #resume
        padding: 30px 0

        div
            responsive-layout()
            padding: 30px 5%

    figcaption

        h1
            font-size: font-size + 2


@media screen and (max-width: 360px)

    header

        h1

            a
                &:after, &:before
                    display: none
