// icon font
@font-face
    font-family: 'IcoMoon'
    src: url('/fonts/IcoMoon/icomoon.eot')
    src: url('/fonts/IcoMoon/icomoon.eot?#iefix') format('embedded-opentype'),
         url('/fonts/IcoMoon/icomoon.svg#icomoon') format('svg'),
         url('/fonts/IcoMoon/icomoon.woff') format('woff'),
         url('/fonts/IcoMoon/icomoon.ttf') format('truetype')
    font-weight: normal
    font-style: normal
