doctype html
html(lang="en")

    head

        //- include header
        include ../includes/head.jade

        title scott lanning - 404

    body

        header

            div

                h1
                    a(href="/")
                        | scott lanning
                        em ( front-end / ui / ux )

        #cover

        section

            h1 Page Not Found

        include ../includes/scripts.jade