header

    div

        h1
            a(href="/")
                | scott lanning
                em ( front-end / ui / ux )

        a.icon.menu(href="#", rel="nofollow")

        nav

            ul
                li
                    a(href="#portfolio") portfolio

                li
                    a(href="#about") about

                li
                    a(href="#contact") contact

                li
                    a(href="#resume") resume
